In [1]:
!pip install -r requirements.txt

Requirement already satisfied: tensorflow in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from -r requirements.txt (line 1)) (2.19.0)
Collecting pandas (from -r requirements.txt (line 2))
  Using cached pandas-2.2.3-cp310-cp310-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from -r requirements.txt (line 3)) (2.1.3)
Collecting scikit-learn (from -r requirements.txt (line 4))
  Using cached scikit_learn-1.6.1-cp310-cp310-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: tensorboard in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from -r requirements.txt (line 5)) (2.19.0)
Collecting matplotlib (from -r requirements.txt (line 6))
  Using cached matplotlib-3.10.1-cp310-cp310-win_amd64.whl.metadata (11 kB)
Collecting streamlit (from -r requirements.txt (line 7))
  Using cached streamlit-1.43.2-py2.py3-none-any.whl.metadata (8.9 kB)
Requirement already satisfied: absl-py>=1.0.0 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from tensorflow->-r requirements.txt (line 1)) (2.1.0)
Requirement already satisfied: astunparse>=1.6.0 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from tensorflow->-r requirements.txt (line 1)) (1.6.3)
Requirement already satisfied: flatbuffers>=24.3.25 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from tensorflow->-r requirements.txt (line 1)) (25.2.10)
Requirement already satisfied: gast!=0.5.0,!=0.5.1,!=0.5.2,>=0.2.1 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from tensorflow->-r requirements.txt (line 1)) (0.6.0)
Requirement already satisfied: google-pasta>=0.1.1 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from tensorflow->-r requirements.txt (line 1)) (0.2.0)
Requirement already satisfied: libclang>=13.0.0 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from tensorflow->-r requirements.txt (line 1)) (18.1.1)
Requirement already satisfied: opt-einsum>=2.3.2 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from tensorflow->-r requirements.txt (line 1)) (3.4.0)
Requirement already satisfied: packaging in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from tensorflow->-r requirements.txt (line 1)) (24.2)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<6.0.0dev,>=3.20.3 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from tensorflow->-r requirements.txt (line 1)) (5.29.3)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from tensorflow->-r requirements.txt (line 1)) (2.32.3)
Requirement already satisfied: setuptools in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from tensorflow->-r requirements.txt (line 1)) (75.8.0)
Requirement already satisfied: six>=1.12.0 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from tensorflow->-r requirements.txt (line 1)) (1.17.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from tensorflow->-r requirements.txt (line 1)) (2.5.0)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from tensorflow->-r requirements.txt (line 1)) (4.12.2)
Requirement already satisfied: wrapt>=1.11.0 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from tensorflow->-r requirements.txt (line 1)) (1.17.2)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from tensorflow->-r requirements.txt (line 1)) (1.71.0)
Requirement already satisfied: keras>=3.5.0 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from tensorflow->-r requirements.txt (line 1)) (3.9.0)
Requirement already satisfied: h5py>=3.11.0 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from tensorflow->-r requirements.txt (line 1)) (3.13.0)
Requirement already satisfied: ml-dtypes<1.0.0,>=0.5.1 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from tensorflow->-r requirements.txt (line 1)) (0.5.1)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from tensorflow->-r requirements.txt (line 1)) (0.31.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from pandas->-r requirements.txt (line 2)) (2025.1)
Requirement already satisfied: scipy>=1.6.0 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from scikit-learn->-r requirements.txt (line 4)) (1.15.2)
Collecting joblib>=1.2.0 (from scikit-learn->-r requirements.txt (line 4))
  Using cached joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from scikit-learn->-r requirements.txt (line 4)) (3.6.0)
Requirement already satisfied: markdown>=2.6.8 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from tensorboard->-r requirements.txt (line 5)) (3.7)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from tensorboard->-r requirements.txt (line 5)) (0.7.2)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from tensorboard->-r requirements.txt (line 5)) (3.1.3)
Collecting contourpy>=1.0.1 (from matplotlib->-r requirements.txt (line 6))
  Using cached contourpy-1.3.1-cp310-cp310-win_amd64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib->-r requirements.txt (line 6))
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib->-r requirements.txt (line 6))
  Using cached fonttools-4.56.0-cp310-cp310-win_amd64.whl.metadata (103 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib->-r requirements.txt (line 6))
  Using cached kiwisolver-1.4.8-cp310-cp310-win_amd64.whl.metadata (6.3 kB)
Collecting pillow>=8 (from matplotlib->-r requirements.txt (line 6))
  Using cached pillow-11.1.0-cp310-cp310-win_amd64.whl.metadata (9.3 kB)
Collecting pyparsing>=2.3.1 (from matplotlib->-r requirements.txt (line 6))
  Using cached pyparsing-3.2.1-py3-none-any.whl.metadata (5.0 kB)
Collecting altair<6,>=4.0 (from streamlit->-r requirements.txt (line 7))
  Using cached altair-5.5.0-py3-none-any.whl.metadata (11 kB)
Collecting blinker<2,>=1.0.0 (from streamlit->-r requirements.txt (line 7))
  Using cached blinker-1.9.0-py3-none-any.whl.metadata (1.6 kB)
Collecting cachetools<6,>=4.0 (from streamlit->-r requirements.txt (line 7))
  Using cached cachetools-5.5.2-py3-none-any.whl.metadata (5.4 kB)
Collecting click<9,>=7.0 (from streamlit->-r requirements.txt (line 7))
  Using cached click-8.1.8-py3-none-any.whl.metadata (2.3 kB)
Collecting pyarrow>=7.0 (from streamlit->-r requirements.txt (line 7))
  Using cached pyarrow-19.0.1-cp310-cp310-win_amd64.whl.metadata (3.4 kB)
Requirement already satisfied: tenacity<10,>=8.1.0 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (9.0.0)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (0.10.2)
Requirement already satisfied: watchdog<7,>=2.1.5 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (6.0.0)
Collecting gitpython!=3.1.19,<4,>=3.0.7 (from streamlit->-r requirements.txt (line 7))
  Using cached GitPython-3.1.44-py3-none-any.whl.metadata (13 kB)
Collecting pydeck<1,>=0.8.0b4 (from streamlit->-r requirements.txt (line 7))
  Using cached pydeck-0.9.1-py2.py3-none-any.whl.metadata (4.1 kB)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from streamlit->-r requirements.txt (line 7)) (6.4.2)
Requirement already satisfied: jinja2 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (3.1.6)
Requirement already satisfied: jsonschema>=3.0 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (4.23.0)
Collecting narwhals>=1.14.2 (from altair<6,>=4.0->streamlit->-r requirements.txt (line 7))
  Using cached narwhals-1.30.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from astunparse>=1.6.0->tensorflow->-r requirements.txt (line 1)) (0.45.1)
Requirement already satisfied: colorama in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from click<9,>=7.0->streamlit->-r requirements.txt (line 7)) (0.4.6)
Collecting gitdb<5,>=4.0.1 (from gitpython!=3.1.19,<4,>=3.0.7->streamlit->-r requirements.txt (line 7))
  Using cached gitdb-4.0.12-py3-none-any.whl.metadata (1.2 kB)
Requirement already satisfied: rich in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from keras>=3.5.0->tensorflow->-r requirements.txt (line 1)) (13.9.4)
Requirement already satisfied: namex in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from keras>=3.5.0->tensorflow->-r requirements.txt (line 1)) (0.0.8)
Requirement already satisfied: optree in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from keras>=3.5.0->tensorflow->-r requirements.txt (line 1)) (0.14.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from requests<3,>=2.21.0->tensorflow->-r requirements.txt (line 1)) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from requests<3,>=2.21.0->tensorflow->-r requirements.txt (line 1)) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from requests<3,>=2.21.0->tensorflow->-r requirements.txt (line 1)) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from requests<3,>=2.21.0->tensorflow->-r requirements.txt (line 1)) (2025.1.31)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from werkzeug>=1.0.1->tensorboard->-r requirements.txt (line 5)) (3.0.2)
Requirement already satisfied: smmap<6,>=3.0.1 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit->-r requirements.txt (line 7)) (5.0.2)
Requirement already satisfied: attrs>=22.2.0 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (25.3.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit->-r requirements.txt (line 7)) (0.23.1)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from rich->keras>=3.5.0->tensorflow->-r requirements.txt (line 1)) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from rich->keras>=3.5.0->tensorflow->-r requirements.txt (line 1)) (2.19.1)
Requirement already satisfied: mdurl~=0.1 in c:\users\vimal\anaconda3\envs\venv\lib\site-packages (from markdown-it-py>=2.2.0->rich->keras>=3.5.0->tensorflow->-r requirements.txt (line 1)) (0.1.2)
Using cached pandas-2.2.3-cp310-cp310-win_amd64.whl (11.6 MB)
Using cached scikit_learn-1.6.1-cp310-cp310-win_amd64.whl (11.1 MB)
Using cached matplotlib-3.10.1-cp310-cp310-win_amd64.whl (8.1 MB)
Using cached streamlit-1.43.2-py2.py3-none-any.whl (9.7 MB)
Using cached altair-5.5.0-py3-none-any.whl (731 kB)
Using cached blinker-1.9.0-py3-none-any.whl (8.5 kB)
Using cached cachetools-5.5.2-py3-none-any.whl (10 kB)
Using cached click-8.1.8-py3-none-any.whl (98 kB)
Using cached contourpy-1.3.1-cp310-cp310-win_amd64.whl (218 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Using cached fonttools-4.56.0-cp310-cp310-win_amd64.whl (2.2 MB)
Using cached GitPython-3.1.44-py3-none-any.whl (207 kB)
Using cached joblib-1.4.2-py3-none-any.whl (301 kB)
Using cached kiwisolver-1.4.8-cp310-cp310-win_amd64.whl (71 kB)
Using cached pillow-11.1.0-cp310-cp310-win_amd64.whl (2.6 MB)
Using cached pyarrow-19.0.1-cp310-cp310-win_amd64.whl (25.3 MB)
Using cached pydeck-0.9.1-py2.py3-none-any.whl (6.9 MB)
Using cached pyparsing-3.2.1-py3-none-any.whl (107 kB)
Using cached gitdb-4.0.12-py3-none-any.whl (62 kB)
Using cached narwhals-1.30.0-py3-none-any.whl (313 kB)
Installing collected packages: pyparsing, pyarrow, pillow, narwhals, kiwisolver, joblib, gitdb, fonttools, cycler, contourpy, click, cachetools, blinker, scikit-learn, pydeck, pandas, matplotlib, gitpython, altair, streamlit
Successfully installed altair-5.5.0 blinker-1.9.0 cachetools-5.5.2 click-8.1.8 contourpy-1.3.1 cycler-0.12.1 fonttools-4.56.0 gitdb-4.0.12 gitpython-3.1.44 joblib-1.4.2 kiwisolver-1.4.8 matplotlib-3.10.1 narwhals-1.30.0 pandas-2.2.3 pillow-11.1.0 pyarrow-19.0.1 pydeck-0.9.1 pyparsing-3.2.1 scikit-learn-1.6.1 streamlit-1.43.2

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Churn_Modelling.csv')

In [3]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [5]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [6]:
data = pd.read_csv("Churn_Modelling.csv")

In [8]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [10]:
#preprocess data
data = data.drop(['RowNumber',"CustomerId","Surname",],axis = 1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [13]:
#Encoding
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [32]:
#oneHotEncode
import numpy as np
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder(sparse_output=False)
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [33]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [39]:
geo_encoded_df = pd.DataFrame(geo_encoder,columns = onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [40]:
#combine all columns
data = pd.concat([data.drop('Geography',axis =1),geo_encoded_df],axis =1)

In [41]:
data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,1,39,5,0.00,2,1,0,96270.64,0,1.0,0.0,0.0
9996,516,1,35,10,57369.61,1,1,1,101699.77,0,1.0,0.0,0.0
9997,709,0,36,7,0.00,1,0,1,42085.58,1,1.0,0.0,0.0
9998,772,1,42,3,75075.31,2,1,0,92888.52,1,0.0,1.0,0.0
9999,792,0,28,4,130142.79,1,1,0,38190.78,0,1.0,0.0,0.0

In [44]:
#save the encoder

with open('laber_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [47]:
#Divide the dataset into dependent and independent dataset

X = data.drop('Exited',axis =1)
y = data['Exited']

In [48]:
#split into train test set

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,random_state=42)

scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [49]:
X_train

array([[ 0.35649971,  0.91324755, -0.6557859 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.20389777,  0.91324755,  0.29493847, ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.96147213,  0.91324755, -1.41636539, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.86500853, -1.09499335, -0.08535128, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.15932282,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.47065475,  0.91324755,  1.15059039, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [51]:
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

# Ann Implemenatation

In [55]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

In [58]:
X_train.shape[1],

(12,)

In [61]:
#build model
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),#first hidden layer conncted with input layer
    Dense(32,activation='relu'),#Hidden layer 1
    Dense(1,activation='sigmoid')#output layer
])

C:\Users\vimal\anaconda3\envs\venv\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [64]:
model.summary()

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━┳━━━━━━━━━━┓
┃ Layer (type)        ┃ Output Shape   ┃  Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━╇━━━━━━━━━━┩
│ dense (Dense)       │ (None, 64)     │      832 │
├─────────────────────┼────────────────┼──────────┤
│ dense_1 (Dense)     │ (None, 32)     │    2,080 │
├─────────────────────┼────────────────┼──────────┤
│ dense_2 (Dense)     │ (None, 1)      │       33 │
└─────────────────────┴────────────────┴──────────┘

 Total params: 2,945 (11.50 KB)

 Trainable params: 2,945 (11.50 KB)

 Non-trainable params: 0 (0.00 B)

In [70]:
opt = tf.keras.optimizers.Adam(learning_rate = 0.01)
loss=tf.keras.losses.BinaryCrossentropy()

In [72]:
#compile the model

model.compile(optimizer = opt,loss = loss,metrics = ['accuracy'])

In [73]:
#setup tensorboard
log_dir = "log/fit"+datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

In [75]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

In [76]:
tensorflow_callbacks = TensorBoard(log_dir = log_dir,histogram_freq=1)

In [80]:
#setup early stopping
early_stopping_callback = EarlyStopping(monitor = 'val_loss',patience=10,restore_best_weights=True)

In [81]:
#Train model

history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs = 100,
    callbacks=[tensorflow_callbacks,early_stopping_callback]
)

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8691 - loss: 0.3287 - val_accuracy: 0.8545 - val_loss: 0.3431
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8636 - loss: 0.3355 - val_accuracy: 0.8610 - val_loss: 0.3517
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8646 - loss: 0.3319 - val_accuracy: 0.8575 - val_loss: 0.3466
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8646 - loss: 0.3288 - val_accuracy: 0.8605 - val_loss: 0.3623
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8681 - loss: 0.3301 - val_accuracy: 0.8570 - val_loss: 0.3550
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8574 - loss: 0.3410 - val_accuracy: 0.8555 - val_loss: 0.3483
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8660 - loss: 0.3262 - val_accuracy: 0.8515 - val_loss: 0.3599
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8699 - loss: 0.3230 - val_accuracy: 0.8550 - val_loss: 0.3487
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8657 - loss: 0.3251 - val_accuracy: 0.8625 - val_loss: 0.3547
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8692 - loss: 0.3241 - val_accuracy: 0.8600 - val_loss: 0.3476
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8727 - loss: 0.3081 - val_accuracy: 0.8460 - val_loss: 0.3796

In [82]:
model.save('model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [89]:
## Load tensorboard extension

%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [96]:
%tensorboard --logdir log/fit20250314-120546